

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand title" href="/">
  Mongo Scraper</a>
  <button class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar-list" aria-controls="navbar-list" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbar-list" aria-expanded="false" style="height: 0px;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>
      <li class="nav-item item">
        <a id="scrape" class="ton btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</a>
      </li>
      <li class="nav-item item">
        <a id="clear" class="ton btn btn-danger clear">CLEAR ARTICLES!</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron box">
  <h1 class="display-3 ti">Mongo Scraper</h1>
  <p class="lead ti">Fox Business Video News Edition</p>

</div>

<div class= "container">
  
<ul class="row"> 
  {{#each articles}}
  
    <li class="col-lg-6 col-md-12 col-sm-12 row articles-group">
        <div class="card div-box">
        <h3 id="title-{{_id}}" class="article-title">{{title}}</h3>
        <h5 id="body-{{_id}}" class="">{{body}}</h5>
        <a id="link-{{_id}}" class="" href={{link}}><img id="img-{{_id}}" class="video" src={{image}}> <img id="play" src="http://www.pngmart.com/files/3/Play-Button-PNG-Picture.png"></a>
        <button data-id={{_id}} id='saveArticleBtn' type="button" class="btn btn-primary btn-sm">Save Article 
        </button>
        </div>

    </li>
    
  
  {{/each}}
</ul>

</div>


<!-- Required scripts for Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="/assets/js/news.js"></script>