
<nav id="bar" class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand collapse navbar-collapse" href="#" id="navbarTogglerDemo01">
      <img id="logo" src="http://phylolab.org/wp-content/uploads/2015/12/news_logo_round2-300x300.png" class="d-inline-block align-center" width="100" height="100" alt="">
       News of the Day, everyday!
  </a>


  <span class="navbar-text">
      <h6 class="title">News to Watch</h6> 
    </span>
</nav>  

<div class= "container">
  
<ul class="row"> 
  {{#each articles}}
  
    <li class="col-lg-6 col-md-12 col-sm-12 row articles-group">
        <div class="card div-box">
        <h3 class="article-title">{{title}}</h3>
        <h5 class="">{{body}}</h5>
        <a class="" href={{link}}><img class="video" src={{image}}> <img id="play" src="http://www.pngmart.com/files/3/Play-Button-PNG-Picture.png"></a>
     
        
        <div class= "w-100">
            <ul> <h6 class="comments-tag">Comments:</h6>
              {{#each comments}}
              <li>
                  <p>{{name}} said: {{body}}
                      <button data-id={{_id}} + id='deleteBtn' type="button" class="btn btn-primary btn-sm">Delete Comment</button>
                  </p>
              </li>
              
              {{/each}}

              <li class="changeable-div">
                  <div id="comments-left-{{_id}}"></div>
              </li>
            </ul> 
           
            
            <form class="create-form form-box">
                <h6 class="comments-tag">Leave a Comment:</h6>
                <div class="w-100 form-group">
                    <label class="w-100" for="note-title">Your Nickname:</label>
                    <input type="text" id="note-title-{{_id}}" name="note-title">
                </div>

                <div class="w-100 form-group">
                    <label for="note-body">Comment:</label><br>
                    <textarea name="note-body" id="note-body-{{_id}}"></textarea> <br>
                </div>

                <button id="saveBtn" data-id="{{_id}}" type="submit" type="button" class="btn btn-primary btn-lg">Leave Comment</button>
            </form>
        </div>
        </div>

    </li>
    
  
  {{/each}}
</ul>

</div>



 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/news.js"></script>